.smallsaldo {
    font-size: 13px;
    color: #3e4751;
}

/* General table styles */
.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
}

.transaksi-table {
    width: 100%;
    border-collapse: collapse;
    font-family: inherit;
    font-size: 14px;
    border-bottom: 2px solid #000;
}

.transaksi-table thead {
    background-color: #343a40;
    color: #fff;
}

.transaksi-table thead th {
    padding: 8px;
}

.transaksi-table td {
    border: 1px solid #fff;
}

.transaksi-table th,
.transaksi-table td {
    padding: 4px 10px;
    font-weight: 300;
}

.listmasuk {
    background-color: #b5fbbc;
    color: #343a40;
}

.listmasuk td img {
    width: 20px;
    height: 20px;
}

.listkeluar {
    background-color: #ffd3d3;
    color: #343a40;
}

.deskripsikas {
    width: 40%;
}

.tanggalkas {
    width: 10%;
}

.tipekas {
    width: 5%;
}

.editkas {
    width: 5%;
}
.nominalkas {
    width: 10%;
    font-size: 15px;
}

.center,
.editkas,
.tipekas {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.listmasuk:hover,
.listkeluar:hover {
    background: #e1e1e1;
}

.bukutop,
.hapiuttop {
    height: 50px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 8px;
}

/* Responsive design */
@media (max-width: 767px) {
    .transaksi-table th,
    .transaksi-table td {
        padding: 6px 8px;
    }

    .transaksi-table .saldo-column,
    .transaksi-table .deskripsikas-column,
    .transaksi-table .deskripsikas {
        display: none;
    }

    .full-date {
        display: none;
    }

    .short-date {
        display: inline;
    }
}

small {
    font-size: 10px;
    line-height: 14px;
    color: #888;
}

.bukutengah .deskripsikas {
    line-height: 16px;
}

@media (min-width: 768px) {
    .short-date {
        display: none;
    }

    .full-date {
        display: inline;
    }
}

/* button pemasukan */
.kastool #pemasukan:hover {
    background: url(/storage/icon/list-masuk.png) 10px 4px no-repeat #00a651;
}
.kastool #pemasukan {
    background: url(/storage/icon/list-masuk.png) 10px 4px no-repeat #436e58;
}
/* button pengeluaran */
.kastool #pengeluaran:hover {
    background: url(/storage/icon/list-keluar.png) 10px 4px no-repeat #9e0039;
}
.kastool #pengeluaran {
    background: url(/storage/icon/list-keluar.png) 10px 4px no-repeat #6f3d4f;
}

.bulannav a:hover,
.kasbutton:hover,
.kasdown a:hover,
.navblock a:hover,
.regnotifbutton,
.usernav a:hover {
    text-decoration: none;
}
.kasbutton {
    float: right;
    display: block;
    background: #cc0;
    border-radius: 4px;
    padding: 8px 16px 8px 42px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    margin: 8px 5px 0 8px;
}
.kasbutton,
.bulannav {
    cursor: pointer;
}

.bulannav {
    width: 250px;
    height: 32px;
    text-align: center;
    margin: 10px 0 0;
}

.bulannav .bulan_nav_left,
.bulannav .bulan_nav_right {
    margin-top: 6px;
}

.bulannav .bulan_nav_left {
    background: url(/storage/icon/icon_month-next.png) center top no-repeat;
    float: right;
}
.bulannav .bulan_nav_right {
    background: url(/storage/icon/icon_month-back.png) center top no-repeat;
    float: left;
}
.bulannav a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.bulankas {
    font-size: 18px;
    line-height: 20px;
    color: #3e4751;
}

.bulankas,
.navblock a,
.navblock ul,
.navblock ul li {
    display: block;
}

.bulankas,
.judulkas,
.navusername,
.thebalance,
.topwizard h2 {
    font-weight: 300;
}

.bulankas select,
.bulankas select:active,
.bulankas select:focus,
.bulankas select:hover {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #9ea5aa;
    background: 0 0;
    box-shadow: none;
}

#formContainer {
    display: none;
    position: absolute;
    top: 192px;
    right: 50px;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.editkas {
    cursor: pointer;
    padding: 3px;
}
.editkas:hover {
    border-radius: 3px;
    box-shadow: 0 0 4px #575757;
    background: #fff;
}
